label{
    display: inline-block;
    width: 100px;
    height: 30px;
}
span{
    display: inline-block;
    width: 100px;
    height:50px;
}

a:visited{
    color: #FCB941;
}
a:hover{
    color: white;
    background-color: #7E3661;    
}
a:active{
    font-size: 1.5em;
}
a{
    text-decoration: none;
}
.act{
    width: 500px;
}
